[submodule "vendor/micronucleus"]
	path = vendor/micronucleus
	url = https://github.com/micronucleus/micronucleus.git
[submodule "vendor/simavr"]
	path = vendor/simavr
	url = https://github.com/buserror/simavr.git
[submodule "vendor/debugwire"]
	path = vendor/debugwire
	url = https://github.com/wholder/DebugWireDebuggerProgrammer.git
